<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <i class="far fa-user"></i> HACK13</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        {{ range .Site.Menus.main }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
        {{ end }}
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ .Site.BaseURL }}/posts/index.xml" target="_blank" rel="noopener"><i class="fa-solid fa-rss fa-2x"></i></a>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/hack13" target="_blank" rel="noopener"><i class="fab fa-github fa-2x"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="me" href="https://meow.social/@hack13" target="_blank" rel="noopener"><i class="fab fa-mastodon fa-2x"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.last.fm/user/dothacker552" target="_blank" rel="noopener"><i class="fab fa-lastfm-square fa-2x"></i></a>
        </li>
      </ul>
    </div>
  </nav>