<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main role="main">
            <div class="jumbotron">
            <div class="container">
            <div class="row">
                <div class="col-md-auto">
                <img src="images/avatar.png" class="rounded float-left" alt="avatar"/>
                </div>
                <div class="col-6">
                    <h1 class="display-3">HACK13's Site</h1>
                    <p>Just another fox on the internet.<br>
                    <strong>Other Aliases:</strong> Timothy Vyper, kite552, dothacker552</p>
                </div>
            </div>
            </div>
        </div>

{{ partial "footer.html" . }}