<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main role="main">
            <div class="jumbotron">
            <div class="container">
            <div class="row">
                <div class="col-md-auto">
                <img src="images/avatar.png" class="rounded float-left" alt="avatar"/>
                </div>
                <div class="col-6">
                    <h1 class="display-3">HACK13's Site</h1>
                    <p>Just another fox on the internet.<br>
                    <strong>Other Aliases:</strong> Timothy Vyper, kite552, dothacker552</p>
                </div>
            </div>
            </div>
        </div>

        <main>
            <div class="container">
                <h2>Recent Blog Posts</h2>
                {{ range first 3 .Site.RegularPages }}
                    <article>
                    <!-- this <div> includes the title summary -->
                    <div>
                        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        <tt>{{ .Date.Format "Jan 2, 2006" }}</tt><br/>
                        {{ .Summary }}
                    </div>
                    {{ if .Truncated }}
                    <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                    <div>
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    </div>
                    {{ end }}
                    </article>
                {{ end }}
            </div>
        </main>

{{ partial "footer.html" . }}