<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <br>
        <main role="main">
            <div class="container">
            {{- block "main" . }}{{- end }}
            <h1>{{.Title}}</h1>
            {{.Content}}
                <!-- Ranges through content/posts/*.md -->
                {{ range (.Paginator 10).Pages }}
                    <article>
                    <!-- this <div> includes the title summary -->
                    <div>
                        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        <tt>{{ .Date.Format "Jan 2, 2006" }}</tt><br/>
                        {{ .Summary }}
                    </div>
                    {{ if .Truncated }}
                    <!-- This <div> includes a read more link, but only if the summary is truncated... -->
                    <div>
                        <a href="{{ .RelPermalink }}">Read More…</a>
                    </div>
                    {{ end }}
                    </article>
                {{ end }}
                <br />
                    {{ template "_internal/pagination.html" . }}
            </div>
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
