<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <br>
        <main role="main">
            <div class="container">
            {{- block "main" . }}{{- end }}
            <h1>{{.Title}}</h1>
            {{.Content}}
            <ul>
                <!-- Ranges through content/posts/*.md -->
                {{ range .Pages }}
                    <li>
                        <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
                    </li>
                {{ end }}
            </ul>
            </div>
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
